* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

.button {
    color: white;
    border: none;
    background-color: #f3603b;
    padding: 12.5px 30.5px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.button:hover{
    background-color:#eb8267 ;
}


.button2 {
    border: none;
    background-color: white;
    padding: 12.5px 30.5px;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    color: #f3603b;
    text-decoration: none;
    text-decoration: none;
}

.button2:hover{
    background-color: rgb(251, 167, 167);
    color: white;
}


header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li a {
    margin-left: 45px;
    font-weight: 500;
    text-decoration: none;
    color: #242e52;
    font-size: 13px;
}

nav ul li a:hover {
    
    color: #9094a3;
    
}



.burguer{
    display: none;
}

/* Main*/

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 60px;
}
h1 {
    font-size: 58px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #232c50;
}

main p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

/* Section-Manage*/

.section-manage {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    color: #232851;
    margin-bottom: 36px;
}

.box-manage-left p {
    font-size: 16px;
    font-weight: 500;
}

.section-three {
    display: flex;
    align-items: baseline;
}

.button-number {
    border: none;
    padding: 10px 25px;
    background-color: #f3603b;
    color: white;
    border-radius: 30px;
    margin-right: 10px;
}

.triple-section h3 {
    font-size: 16px;
    color: #323851;
    font-weight: 700;
    margin-bottom: 18px;
}

.triple-section p {
    font-size: 16.3px;
    margin-bottom: 20px;
    color: #b3b2b7;
}

/* Section-Person*/

.img-person{
    position: relative;
    top: -45px;
}


.section-person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-person h2 {
    text-align: center;
    font-size: 40px;
    color: #242e53;
    font-weight: 700;
    margin-bottom: 74px;
}

.person-three {
    display: flex;

    justify-content: space-around;
    margin-bottom: 40px;
}

.cards-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    padding: 0px 30px;
}

.cards-person h3 {
    font-size: 16px;
    color: #242e53;
}

.cards-person p {
    font-size: 16px;
    color: #b9b9c1;
    font-weight: 500;
    margin-top: 15px;
}

/* Section-end*/

.section-end {
    background-color: #f3613c;
    margin-top: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 64px 0px;
    
}

h4 {
    font-size: 40px;
    color: white;
    font-weight: 700;
}







/* Footer*/

footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #1e1e26;
    padding: 65px 0px;
}

footer section {
    display: flex;
    flex-direction: row;
}

#card-footer {
    flex-direction: column;
}

.nav-redes {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0px;
    align-items: center;
    margin-top: 40px;
}

.nav-redes li img {
    
    padding: 0px;
}

.nav-footer nav ul li {
    list-style: none;
    margin-bottom: 12px;
}

.nav-footer nav ul li a {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
}

input {
    border: none;
    padding: 12px 48px 12px 10px;
    border-radius: 50px;
}


form{
    margin-bottom: 25px;
}

form button {
    color: white;
    padding: 11.5px 22.5px;
    background-color: #f3603b;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

@media (max-width: 375px) {
    header nav a {
        display: none;
    }

    .burguer{
        display: block;
        font-size: 25px;
    }

    .burguer i {
        color: #f3603b;
    }
    /* Main*/
    main {
        flex-direction: column-reverse;
    }

    main img {
        width: 100%;
    }

    main h1 {
        font-size: 30px;
    }

    .box1-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main p {
        font-size: 13px;
        font-weight: 200;
    }

    /* Section Manage*/

    .section-manage {
        flex-direction: column;
        margin-top: 45px;
    }

    .box-manage-left {
        text-align: center;
    }

    .box-manage-left h2 {
        font-size: 30px;
    }

    .box-manage-right {
        margin-top: 30px;
    }

     /* Section End*/

     .section-end{
         flex-direction: column;
         align-items: center;
     }

     .section-end h4{
         font-size: 25px;
         margin-bottom: 20px;
     }
     
    
       .none{
           display: none;
       }

     /* Section End*/

     footer{
         flex-direction: column-reverse;
         align-items: center;
     }

     .nav-footer nav ul {
        padding: 0px;
    }
}

